

/* --------------CSS by Jonathan Newkirk----------------- */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}/* --------------CSS Reset----------------- */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------ROOT VARIABLES----------------- */

:root{
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font-primary: 'Playfair Display', serif;
    --font-secondary: serif;
}

/* --------------BEGIN GLOBAL STYLES----------------- */
/* -------------------------------------------------- */

body {
  height: 100vh;
  display:grid;
  grid-gap:20px;
  grid-template-columns:1fr;
  grid-template-rows:1fr;
  grid-template-areas:
    "header"
    "nav
    "main"
    "footer";

header{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 1rem;
    font-family: var(--font-primary), serif;
}

header img{
    width: 150px;
    height: auto;
    margin-bottom: 0.5rem;
}

header h1{
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

header h3{
    font-size: .75rem;
    font-weight: 400;
    font-style: italic;
    padding-top: 1rem;
}

nav{
    background-color: var(--champagne-gold);
}

nav ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

nav a{
    font-family: var(--font-primary), serif;
    font-weight: bold;
    color: var(--dark-charcoal);
    text-decoration: none;
}

hr{
    height: 1px;
    width: 100%;
    background-color: var(--champagne-gold);

}

main{
    background-color: var(--soft-white);
    font-family: var(--font-primary), serif;
    margin: 0 auto;
    padding: 0 20rem 1rem 20rem;
}

#about-us h2{
    color: var(--dark-charcoal);
    padding: 1rem;
    padding-top: 3rem;
    font-size: 1.5rem;
}

#about-us p{
    color: var(--dark-charcoal);
    line-height: 1.5;
    padding: 0 1rem 2rem 1rem;
    font-size: .75rem;
}

h2{
    color: var(--dark-charcoal);
    padding: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}

hr{
    margin: 1rem 0 1rem 0;
}

#offerings-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

.green-card, #green-card-wide{
    color: var(--linen);
    align-items: center;
    background-color: var(--olive-green);
    border-radius: .5rem;
    padding: 1rem;
}

.green-card, #green-card-wide h3{
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.green-card, #green-card-wide p{
    font-size: .75rem;
    line-height: 1.5;
}

#green-card-wide ul{
    padding-left: 1.5rem;
    margin-top: .5rem;
    list-style-type: disc;
    font-size: .65rem;
    line-height: 1.5;
    margin-bottom: .25rem;
}

#gallery h2{
    color: var(--dark-charcoal);
    padding: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}

#gallery p{
    color: var(--dark-charcoal);
    line-height: 1.5;
    padding: 0 1rem 2rem 1rem;
    font-size: .75rem;
}

#gallery-grid{
    display: flexbox;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    align-content: center;
    padding-bottom: 2rem;
}

.card{
    background-color: var(--soft-white);
    color: var(--dark-charcoal);
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 1rem;
    width: 20rem;
    height: 15rem;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
}

figcaption{
    font-size: .75rem;
    line-height: 1rem;
    font-style: italic;
    padding-left: .5rem;
}

button{
    text-align: center;
    display: block;
    margin: 1rem auto;
    background-color: var(--olive-green);
    color: var(--soft-white);
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .20rem;
    font-family: var(--font-primary), serif;
}

footer{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 1rem;
    font-family: var(--font-primary), serif;
    font-size: .75rem;
}

address{
    font-family: var(--font-primary), serif;
    line-height: 1.5;
    padding: 3rem 0 1rem 0;;
}

address a{
    color: var(--soft-white);
    text-decoration: none;
}   

footer div{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-icon{
    width: 30px;
    height: auto;
}

@media screen and (min-width:600px){

}

@media screen and (min-width:900px){
    #offerings-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }

        #gallery-grid{
        display: flexbox;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        align-content: center;
        padding-bottom: 2rem;
    }

    nav ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
}

@media screen and (min-width:1200px){


    #offerings-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

    .green-card, #green-card-wide{
        color: var(--linen);
        align-items: center;
        background-color: var(--olive-green);
        border-radius: .5rem;
        padding: 1rem;
    }

    #gallery-grid{
        display: flexbox;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 0 auto;
        align-content: center;
        padding-bottom: 2rem;
    }

    nav ul{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 15rem;
    }

    .card{
    background-color: var(--soft-white);
    color: var(--dark-charcoal);
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 1rem;
    width: 12rem;
    height: 9rem;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
}

figcaption{
    font-size: .5rem;
    line-height: 1rem;
    font-style: italic;
    padding-left: .5rem;
}


}